.home-wrap {
    margin: 0 10px 0 0;
    width: 90%;
    height: 100vh;
    background: url(../../img/character-bg.png) no-repeat right bottom/500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-inner {
    margin-left: 20%;
    margin-top: 20%;
    width: 40%;
    display: flex;
    transition: 0.7s;
}

.sec-1-text {
    padding: 8% 5%;
    background: rgba(174, 213, 191, 0.7);
    border-radius: 40px;
    border: 2px solid #AFD6C0;
}

.sec-1-text h2 {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #8B6EAA;
}

.sec-1-text p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #324B53;
}

/* 화살표 */
.home-down_arrow {
    display: block;
    padding-top: 70px;
    position: relative;
    transition: .5s;
}

.home-down_arrow span {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}

@keyframes sdb {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@media (max-width: 740px) {
    .home-inner {
        margin-left: 4%;
        width: 50%;
    }

    .sec-1-text {
        padding: 6% 4%;
        border-radius: 30px;
    }

    .sec-1-text h2 {
        margin-bottom: 8px;
        font-size: 30px;
        line-height: 40px;
    }

    .sec-1-text p {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 390px) {
    .home-inner {
        width: 80%;
    }

    .sec-1-text {
        padding: 3% 2%;
        border-radius: 10px;
    }

    .sec-1-text h2 {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 24px;
    }

    .sec-1-text p {
        font-size: 12px;
        line-height: 15px;
    }
}